@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p><a style="border: 1px dotted black;" class="nav-link text-dark" asp-area="" asp-controller="Actividad" asp-action="Details">Activity list</a></p>
    <p><a style="border: 1px dotted black;" class="nav-link text-dark" asp-area="" asp-controller="Actividad" asp-action="Create">Add Activity</a></p>





}
 